<!DOCTYPE html>
<html ng-app="myPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Coach in a Box</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body>

    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="templates/sign-in.html" type="text/ng-template">
      <ion-header-bar class="bar-calm">
        <h1 class="title">Login to My Page</h1>
      </ion-header-bar>
      <ion-view hide-nav-bar="true">
       <ion-content padding="true">

         <pre-loader> </pre-loader>

         <form name="loginForm" ng-submit="signIn(user)" novalidate class="padding">
           <div class="list">
             <label class="item item-input">
               <span class="input-label">Username</span>
               <input type="text" name="username" ng-model="user.username" required>
             </label>
             <label class="item item-input">
               <span class="input-label">Password</span>
               <input type="password" name="password" ng-model="user.password" required>
             </label>
           </div>
           <div class="messages red">
              <label ng-show ="statusText">{{ statusText }}!</span> <span>{{ errorMessage }}</label>
              <label ng-show="(loginForm.username.$dirty || loginForm.$submitted) && loginForm.username.$error.required">Username is required</label>
              <label ng-show="(loginForm.password.$dirty || loginForm.$submitted) && loginForm.password.$error.required">Password is required</label>
            </div>
           <div>
             <button class="button button-block button-calm" type="submit">
               SIGN IN
             </button>
             <p>
               <a href="#/forgot-password">Forgot password</a>
             </p>
           </div>
         </form>
      </ion-content>
     </ion-view>
    </script>

    <script id="templates/forgot-password.html" type="text/ng-template">
      <ion-view view-title="Forgot Password">
        <ion-content padding="true">
          <p>
            Yeah this is just a demo showing how views can be shown without tabs, then you can navigate
            to views within tabs. Additionally, only one set of tabs needs to be written for all of the different views that should go inside the tabs. (Compared to written the same tab links in the footer of every view that''s in a tab.)
          </p>
          <p>
            There''s no username/password, just click
            the Sign-In button back a the sign-in view.
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/tabs.html" type="text/ng-template">
      <ion-view>
        <ion-tabs class="tabs-stable tabs-striped">

          <ion-tab icon="ion-home" ui-sref="tabs.home">
            <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab icon="ion-person-stalker" href="#/tabs/coaches">
            <ion-nav-view name="coaches-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab icon="ion-gear-a" ui-sref="tabs.settings">
            <ion-nav-view name="settings-tab"></ion-nav-view>
          </ion-tab>

        </ion-tabs>
      </ion-view>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-header-bar class="bar-calm item-input-inset">
       <label class="item-input-wrapper">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="search" placeholder="Search Pathways" ng-model="query">
       </label>
      </ion-header-bar>

      <ion-view hide-nav-bar="true">
        <ion-content>
          <div class="list">

            <a class="item" ui-sref="tabs.home.pathway-details({ pathwayId: {{ pathway[0] }} })" ng-repeat="pathway in pathways | filter: query">
              <h2> {{ pathway[1] }}</h2>
              <p> {{ pathway[2] }}</p>
            </a>

          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/coaches.html" type="text/ng-template">

      <ion-header-bar class="bar-calm item-input-inset">
       <label class="item-input-wrapper">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="search" placeholder="Search Coaches">
       </label>
       <button class="button button-clear">
        Cancel
       </button>
      </ion-header-bar>

      <ion-view hide-nav-bar="true">
        <ion-content padding="true">

          <div class="list list-inset">
            <div class="item item-avatar item-text-wrap">
              <img src="img/avatar.png" />
              <h2>Will Stokely</h2>
              <p>dummy@coachinabox.biz</p>
              <p>555-555-5555</p>
            </div>
            <div class="item item-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <a class="item item-divider" href="#">
              <i class="icon ion-email"></i>
            </a>
          </div>

          <div class="list list-inset">
            <div class="item item-avatar item-text-wrap">
              <img src="img/avatar.png" />
              <h2>Adam Gorbert</h2>
              <p>dummy1@coachinabox.biz</p>
              <p>555-555-5555</p>
            </div>
            <div class="item item-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <a class="item item-divider" href="#">
              <i class="icon ion-email"></i>
            </a>
          </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/settings.html" type="text/ng-template">
      <ion-view view-title="Settings">
        <ion-content>

          <div class="list">

            <div class="item item-avatar item-text-wrap" href="#">
              <img src="img/avatar.png" />
              <h2>Bob Coachee</h2>
              <p>bob_coachee<p>
            </div>

            <div class="item">
              <h2>dummy1@coachinabox.biz</h2>
              <p>dummy2@coachinabox.biz<p>
            </div>

            <div class="item">
              <h2>07871267058</h2>
              <p>07871267123</p>
            </div>

            <div class="item">
              <h2>Europe/London</h2>
            </div>

            <div class="item item-divider">
            </div>

            <a menu-close class="item item-icon-left" ui-sref="tabs.settings.edit-profile">
              <i class="icon ion-person button-small"></i>
              Edit Profile
            </a>

            <a class="item item-icon-left" ng-click="confirmPasswordChange()">
              <i class="icon ion-edit button-small"></i>
              Change Password
            </a>

            <a menu-close class="item item-icon-left" href="#">
              <i class="icon ion-log-out button-small"></i>
              Sign Out
            </a>

          </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/edit-profile.html" type="text/ng-template">
      <ion-view view-title="Edit Profile">
        <ion-content>
          <div class="list">
            <div class="item item-avatar item-text-wrap" href="#">
              <img src="img/avatar.png" />
              <a href="#">
                <i class="icon ion-edit button-small"></i>
              </a>
            </div>

            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>

            <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text" ng-model="user.name">
            </label>

            <label class="item item-input">
              <span class="input-label">Email 1</span>
              <input type="email" ng-model="user.email1">
            </label>

            <label class="item item-input">
              <span class="input-label">Email 2</span>
              <input type="email" ng-model="user.email2">
            </label>

            <label class="item item-input">
              <span class="input-label">Phone 1</span>
              <input type="tel" ng-model="user.phone1">
            </label>

            <label class="item item-input">
              <span class="input-label">Phone 2</span>
              <input type="tel" ng-model="user.phone2">
            </label>

            <label class="item item-input item-select">
              <div class="input-label">
                Time zone
              </div>
              <select>
                <option>Time zone 1</option>
                <option selected>Time zone 2</option>
                <option>Time zone 3</option>
              </select>
            </label>

            <div class="padding">
              <button class="button button-block button-calm" ng-click="editProfile(user)">
                EDIT PROFILE
              </button>
            </div>

          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/pathway-details.html" type="text/ng-template">
      <ion-view>
        <ion-nav-title> {{ pathwayName }} </ion-nav-title>
        <ion-content padding="true">

          <pre-loader> </pre-loader>

          <a ui-sref="tabs.home.pathway-details.view-materials">
            View Materials
          </a>

          <div class="list list-inset" ng-repeat="coachingSession in coachingSessions">
            <div class="item item-divider">
              <h2>{{ coachingSession.session_title }}</h2>
            </div>
            <div class="item item-body details">
              <label ng-show="coachingSession.description"> {{ coachingSession.description}} </label>
              <label ng-show="coachingSession.duration"> Date: {{ coachingSession.duration}} </label>
              <label ng-show="coachingSession.venue"> Venue: {{ coachingSession.venue}} </label>
              <label ng-show="coachingSession.booking_date"> {{ coachingSession.booking_date}} </label>
              <label ng-show="coachingSession.start_time_in_12hour"> {{ coachingSession.start_time_in_12hour}} </label>
              <a href="/{{ coachingSession.material }}" ng-show="coachingSession.material">
                <img src="img/pdf-icon.png" />
              </a>
            </div>
            <div class="item item-divider">
              <button class="button icon-left ion-information-circled button-calm button-small"
                ng-if="(coachingSession.session_type == 'GroupCoachingSession' && !(coachingSession.group_session_details)) || (coachingSession.session_type == 'NonBookableCoachingSession' && !(coachingSession.nonbookable_session_details))">
                Details TBC
              </button>

              <button class="button icon-left ion-eye button-calm button-small" ng-if="coachingSession.session_type == 'SelfLearningCoachingSession'">
                View Details
              </button>

              <a ui-sref="tabs.home.pathway-details.coach-availability({ coachingSession: {{ coachingSession.session_id }} })" class="button icon-left ion-ios-book button-calm button-small" ng-if="coachingSession.session_locked && !(coachingSession.session_flexible) && (coachingSession.session_type == 'PhoneCallCoachingSession' || (coachingSession.session_type == 'GroupCoachingSession') && coachingSession.group_session_details)">
                Book Session
              </a>

            </div>
          </div>

          <a ui-sref="tabs.home.pathway-details.view-materials">
            View Materials
          </a>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/view-materials.html" type="text/ng-template">

      <ion-view view-title="View Materials">
        <ion-content padding="true">

          <div class="list">
            <div class="item">
              <h3>
                Balance Five Sessions Step Three
              </h3>
              <a href="#">
                <img src="img/pdf-icon.png" />
              </a>
            </div>

            <div class="item">
              <h3>
                Balance Five Sessions Step One
              </h3>
              <a href="#">
                <img src="img/pdf-icon.png" />
              </a>
            </div>

            <div class="item">
              <h3>
                Balance Five Sessions - Introduction
              </h3>
              <a href="#">
                <img src="img/pdf-icon.png" />
              </a>
            </div>


          </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/coach-availability.html" type="text/ng-template">

      <ion-view view-title="Coach Availability">
        <ion-content padding="true">

          <pre-loader> </pre-loader>
          
          <div class="list">
            <div class="item">
              <h3>
                Coach
              </h3>
              <a href="#">
                <img src="img/pdf-icon.png" />
              </a>
            </div>
          </div>

        </ion-content>
      </ion-view>
    </script>

  </body>
</html>
