<!DOCTYPE html>
<html ng-app="myPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <title>Coach in a Box</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ionic modal used for list of timezones-->
    <script src="lib/ionic-modal-select/dist/ionic-modal-select.min.js"></script>

    <script src="js/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body>

    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="templates/sign-in.html" type="text/ng-template">
      <ion-header-bar class="bar-calm">
        <h1 class="title">Login to My Page</h1>
      </ion-header-bar>
      <ion-view hide-nav-bar="true">
       <ion-content padding="true">

         <pre-loader> </pre-loader>

         <form name="loginForm" novalidate class="padding">
           <div class="list">
             <label class="item item-input">
               <span class="input-label">Username:</span>
               <input type="text" name="username" ng-model="user.username" required>
             </label>
             <label class="item item-input">
               <span class="input-label">Password:</span>
               <input type="password" name="password" ng-model="user.password" required>
             </label>
           </div>
           <div class="messages red">
              <label ng-show = "status && (status != '200')">Error! </label>
              <label ng-show ="statusText">{{ statusText }}!</span> <span>{{ errorMessage }}</label>
              <label ng-show="(loginForm.username.$dirty || loginForm.$submitted) && loginForm.username.$error.required">Username is required</label>
              <label ng-show="(loginForm.password.$dirty || loginForm.$submitted) && loginForm.password.$error.required">Password is required</label>
            </div>
           <div>
             <button class="button button-block button-calm" ng-click="signIn(user)">
               SIGN IN
             </button>
           </div>
         </form>

           <button class="button button-calm button-small button-clear" ng-click="forgotPassword()">
             Forgot password
           </button>

      </ion-content>
     </ion-view>
    </script>

    <script id="templates/tabs.html" type="text/ng-template">
      <ion-view>
        <ion-tabs class="tabs-stable tabs-striped">

          <ion-tab icon="ion-home" ui-sref="tabs.home">
            <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab icon="ion-person-stalker" href="#/tabs/coaches">
            <ion-nav-view name="coaches-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab icon="ion-gear-a" ui-sref="tabs.settings">
            <ion-nav-view name="settings-tab"></ion-nav-view>
          </ion-tab>

        </ion-tabs>
      </ion-view>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-header-bar class="bar-calm item-input-inset">
       <label class="item-input-wrapper">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="search" placeholder="Search Pathways" ng-model="query">
       </label>
      </ion-header-bar>

      <ion-view hide-nav-bar="true">
        <ion-content>

          <ion-refresher on-refresh="refreshPathwayList()"></ion-refresher>

          <div class="list">
            <div class="padding">
              <pre-loader> </pre-loader>
              <error-message> </error-message>
            </div>

            <a class="item" ui-sref="tabs.home.pathway-details({ pathwayId: {{ pathway[0] }} })" ng-repeat="pathway in pathways | filter: query" href="#">
              <h2> {{ pathway[1] }}</h2>
              <p> {{ pathway[2] }}</p>
            </a>

          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/coaches.html" type="text/ng-template">

      <ion-header-bar class="bar-calm item-input-inset">
       <label class="item-input-wrapper">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="search" placeholder="Search Coaches" ng-model="query">
       </label>
      </ion-header-bar>

      <ion-view hide-nav-bar="true">
        <ion-content padding="true">

          <ion-refresher on-refresh="refreshCoachesList()"></ion-refresher>


          <pre-loader> </pre-loader>
          <error-message> </error-message>


          <div class="list list-inset padding" ng-repeat="coach in coaches | filter: query">
            <div class="item item-thumbnail-left">
              <img ng-src="{{ coach.profile_image ? 'http://ci-ciabos-pr-276.herokuapp.com' + coach.profile_image : 'img/avatar.png' }}"/>
              <h2>{{ coach.name }}</h2>
              <p class="small" ng-show="coach.timezone"> ({{ coach.timezone }}) </p>
              <p class="small" ng-show="coach.email"> {{ coach.email }}</p>
              <p class="small" ng-show="coach.phone"> {{ coach.phone }}</p>
            </div>
            <div class="item item-body">
              <label ng-bind-html="coach.biography | unsafe" ng-show="coach.biography"></label>
            </div>
            <a class="item item-divider" href="#" ui-sref="tabs.coaches.send-email({ coachId: coach.id })">
              <i class="icon ion-email"></i>
               <span class="small">Email Coach</span>
            </a>
          </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/settings.html" type="text/ng-template">
      <ion-view view-title="Settings">
        <ion-content>

          <ion-refresher on-refresh="refreshProfile()"></ion-refresher>

          <div class="list">
            <div class="item">
              <pre-loader> </pre-loader>
              <error-message> </error-message>
            </div>

            <div class="item item-thumbnail-left" href="#">
              <img ng-src="{{ profile.photo ? 'http://ci-ciabos-pr-276.herokuapp.com' + profile.photo : 'img/avatar.png' }}"/>
              <h2> {{ profile.name }}</h2>
              <p> {{ profile.username }} </p>
            </div>

            <div class="item">
              <h2>{{ profile.email }}</h2>
              <p ng-show="profile.email2"> {{ profile.email2}} </p>
            </div>

            <div class="item">
              <h2 ng-show="profile.phone1"> {{ profile.phone1 }}</h2>
              <p ng-show="profile.phone2"> {{ profile.phone2}} </p>
            </div>

            <div class="item">
              <h2> {{ profile.timezone }}</h2>
            </div>

            <div class="item item-divider">
            </div>

            <a class="item item-icon-left" ng-click="editProfile()">
              <i class="icon ion-person button-small"></i>
              Edit Profile
            </a>

            <a class="item item-icon-left" ng-click="confirmPasswordChange()">
              <i class="icon ion-edit button-small"></i>
              Change Password
            </a>

            <a class="item item-icon-left" href="#" ui-sref="tabs.settings.sign-out">
              <i class="icon ion-log-out button-small"></i>
              Sign Out
            </a>

          </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/edit-profile.html" type="text/ng-template">
      <ion-view view-title="Edit Profile">
        <ion-content>
          <div class="list">

            <div class="item">
              <pre-loader> </pre-loader>
              <error-message> </error-message>
              <label class="red block" ng-show='successMessage'> {{ successMessage }}</label>
            </div>

            <div class="item item-thumbnail-left" href="#">
              <img ng-if="imgURI !== undefined" ng-src="{{ imgURI }}">
              <img ng-if="imgURI === undefined" ng-src="{{ profile.photo ? 'http://ci-ciabos-pr-276.herokuapp.com' + profile.photo : 'img/avatar.png' }}">
              <button class="button button-calm button-small button-clear" ng-click="takePhoto()">
                Edit Photo
              </button>
              <label class="red block"> {{ uploadMessage }}</label>
            </div>

            <label class="item item-input">
              <span class="input-label">Name:</span>
              <input type="text" ng-model="profile.name">
            </label>

            <label class="item item-input">
              <span class="input-label"> Username: </span>
              <input type="text" ng-model="profile.username">
            </label>

            <label class="item item-input">
              <span class="input-label">Email:</span>
              <input type="email" ng-model="profile.email">
            </label>

            <label class="item item-input">
              <span class="input-label">Email (2):</span>
              <input type="email" ng-model="profile.email2">
            </label>

            <label class="item item-input">
              <span class="input-label">Phone:</span>
              <input type="tel" ng-model="profile.phone1">
            </label>

            <label class="item item-input">
              <span class="input-label">Phone (2):</span>
              <input type="tel" ng-model="profile.phone2">
            </label>

            <label class="item item-input">
              <span class="input-label">Timezone:</span>
              <span class="input-label"> {{ profile.timezone }}</span>
            </label>

            <div class="item">
              <button class="button button-calm button-small" modal-select="" ng-model="profile.timezone" options="profile.timezones" modal-title="Select a timezone" has-search="true">
                Select Timezone
                <div class="option">
                  {{option}}
                </div>
              </button>
            </div>

            <div class="padding">
              <button class="button button-block button-calm" ng-click="updateProfile(profile)">
                EDIT PROFILE
              </button>
            </div>

          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/pathway-details.html" type="text/ng-template">
      <ion-view view-title="Coaching Sessions">

        <ion-content padding="true">
          <ion-refresher on-refresh="refreshCoachingSessionsList()"></ion-refresher>

          <pre-loader ng-if="!(coachingSessionId)"> </pre-loader>
          <error-message> </error-message>
          <label ng-show="noProgrammeMessage" class="red block"> {{ noProgrammeMessage }} </label>
          <div ng-show="(status == '200')">
            <h4> {{ pathwayName }} </h4>
          <div>

          <a ui-sref="tabs.home.pathway-details.view-materials({ pathwayId: pathwayId })" ng-show="(status == '200') && !(noProgrammeMessage)" href="#">
            VIEW MATERIALS
          </a>

          <div class="list list-inset coaching-sessions {{coachingSession.session_type}} {{coachingSession.status}}"
            ng-class="{ 'nonbookable':  coachingSession.session_type == 'NonBookableCoachingSession' || coachingSession.session_type == 'SelfLearningCoachingSession', 'flexible': coachingSession.session_flexible, 'locked': coachingSession.session_locked }" ng-repeat="coachingSession in coachingSessions">
            <div class="item item-divider item-text-wrap">
              <h2>{{ coachingSession.session_title }}</h2>
            </div>
            <div class="item item-body details">
              <label ng-show="coachingSession.description"> {{ coachingSession.description}} </label>
              <label ng-show="coachingSession.duration"> Date: <strong>{{ coachingSession.duration}}</strong> </label>
              <label ng-show="coachingSession.venue"> Venue: <strong>{{ coachingSession.venue}}</strong> </label>
              <label ng-show="coachingSession.summary">Summary: <strong>{{ coachingSession.summary }}</strong></label>
              <label ng-show="coachingSession.booking_date"> {{ date(coachingSession.booking_date).toDateString() }} </label>
              <label ng-show="coachingSession.start_time_in_12hour"> {{ coachingSession.start_time_in_12hour}} </label>
              <a href="#" browse-to="http://ci-ciabos-pr-276.herokuapp.com/documents/download/{{ coachingSession.material }}" ng-show="coachingSession.material">
                <img src="img/pdf-icon.png" />
              </a>

              <pre-loader ng-if="coachingSessionId == coachingSession.session_id"> </pre-loader>

            </div>
            <div class="item item-divider action-buttons">
              <button class="button icon-left ion-information-circled button-calm button-small"
                ng-if="(coachingSession.session_type == 'GroupCoachingSession' && !(coachingSession.group_session_details)) || (coachingSession.session_type == 'NonBookableCoachingSession' && !(coachingSession.nonbookable_session_details))">
                Details TBC
              </button>

              <button ng-click="viewPreWorks(coachingSession.pre_works)" class="button icon-left ion-eye button-calm button-small" ng-if="coachingSession.session_type == 'SelfLearningCoachingSession'">
                View Details
              </button>

              <button ng-click="viewGroupSessionDetails(coachingSession)" class="button icon-left ion-eye button-calm button-small" ng-if="coachingSession.session_type == 'GroupCoachingSession' && coachingSession.group_session_details">
                View Details
              </button>

              <button ng-click="viewNonBookableDetails(coachingSession)" class="button icon-left ion-eye button-calm button-small" ng-if="(coachingSession.session_type == 'NonBookableCoachingSession' && coachingSession.nonbookable_session_details)">
                View Details
              </button>

              <a href="#" ui-sref="tabs.home.pathway-details.coach-availability({ coachingSession: {{ coachingSession.session_id }}, all_slots: 'false' })" class="button icon-left ion-ios-book button-calm button-small"
                ng-if="coachingSession.status != 'greyed-out' && coachingSession.status != 'booked' && coachingSession.session_locked && !(coachingSession.session_flexible) && (coachingSession.session_type == 'PhoneCallCoachingSession')">
                Book Session
              </a>

              <a href="#" ui-sref="tabs.home.pathway-details.coach-availability({ coachingSession: {{ coachingSession.session_id }}, all_slots: 'false' })" class="button icon-left ion-ios-book button-calm button-small"
                ng-if="coachingSession.status != 'greyed-out' && coachingSession.status != 'booked' && coachingSession.session_locked && coachingSession.session_flexible && (coachingSession.session_type == 'PhoneCallCoachingSession')">
                Book Session
              </a>

              <a href="#" ui-sref="tabs.home.pathway-details.coach-availability({ coachingSession: {{ coachingSession.session_id }}, all_slots: 'false' })" class="button icon-left ion-ios-book button-calm button-small" ng-if="coachingSession.status != 'greyed-out' && coachingSession.status == 'missed' && !(coachingSession.session_flexible) && (coachingSession.session_type == 'PhoneCallCoachingSession' || (coachingSession.session_type == 'GroupCoachingSession') && coachingSession.group_session_details)">
                Re-book Session
              </a>

              <button class="button icon-left ion-trash-a button-assertive button-small" ng-if="coachingSession.can_delete_booking && coachingSession.session_type == 'PhoneCallCoachingSession' && coachingSession.status == 'booked' && coachingSession.status != 'greyed-out'" ng-click="deleteBooking(coachingSession.session_id)">
                Delete Booking
              </button>
              <label ng-if="!(coachingSession.can_delete_booking) && coachingSession.session_type == 'PhoneCallCoachingSession' && coachingSession.status == 'booked' && coachingSession.status != 'greyed-out'">Can't delete booking </label>
              <label ng-if="coachingSession.status == 'completed' || coachingSession.status == 'greyed-out' || coachingSession.session_type == 'FaceToFaceCoachingSession'">No action required</label>
              <span class="booking-error-message" ng-if="coachingSessionId == coachingSession.session_id && bookingErrorMessage"> {{ bookingErrorMessage }} </span>
            </div>
          </div>

          <a ui-sref="tabs.home.pathway-details.view-materials({ pathwayId: pathwayId })" ng-show="(status == '200' && !(noProgrammeMessage))" href="#">
            VIEW MATERIALS
          </a>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/view-materials.html" type="text/ng-template">

      <ion-view view-title="View Materials">
        <ion-content padding="true">
          <ion-refresher on-refresh="refreshMaterialsList()"></ion-refresher>
          <pre-loader> </pre-loader>
          <error-message> </error-message>
          <label class="red"> {{ noMaterial }} </label>

          <div class="list padding">

            <div class="item" ng-repeat="material in materials">
              <h3>
                {{ material.name }}
              </h3>
            </div>

          </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/coach-availability.html" type="text/ng-template">

      <ion-view view-title="Coach Availability">
        <ion-content>
          <ion-refresher on-refresh="refreshAvailabilityList()"></ion-refresher>
          <div class="padding">
            <pre-loader> </pre-loader>
            <error-message> </error-message>
            <label class="block padding"> Please note that the times of all appointments are shown in your local time </label>
          </div>

          <div class="list availability" ng-show="status == '200'">

            <div class="item">
              <a class="button button-calm button-small" ui-sref="tabs.home.pathway-details.coach-availability({ coachingSession: coachingSession, all_slots: 'true' })" ng-if="allSlots == 'false'">
                CLICK HERE TO SEE MORE BOOKINGS
              </a>
            </div>

            <div ng-repeat="availabilitySlot in availabilitySlots">
              <div class="item item-divider">
                <span class="date"> {{  date(availabilitySlot.date).toDateString() }}</span>
              </div>
              <div class="item">
                <span class="time">{{ availabilitySlot.time_24_hrs }}</span>
                <button class="book_session button button-calm button-small button-clear" ng-click="bookSession(coachingSession, availabilitySlot)">
                  Book Session
                </button>
              </div>
            </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/view-pre-works.html" type="text/ng-template">

      <ion-view view-title="Self Learning Session">
        <ion-content padding="true">

          <div class="list list-inset pre-works" ng-repeat="preWork in preWorks">

            <div class="item item-divider">
              {{$index + 1}}
            </div>

            <div class="item item-body">
              <label><strong> Title:</strong> Tile 1</label>
              <label ng-if="!(preWork.pre_work_type_name == 'Material' || preWork.pre_work_type_name == 'CiaB Diagnostic')"> <a href="#" browse-to="http://{{ preWork.link }}"> Link </a></label>

              <label ng-if="preWork.pre_work_type_name == 'Material'"><a href="#" browse-to="http://ci-ciabos-pr-276.herokuapp.com/documents/download/{{ preWork.link }}"><img src="img/pdf-icon.png" /></a></label>

              <label ng-if="preWork.pre_work_type_name == 'CiaB Diagnostic'"><a href="#" browse-to="http://{{ preWork.link }}"> Card Sort </a></label>

              <div ng-if="!(loading) && (preWorkId == preWork.id)">
                <label ng-show = "completionStatus" class="red small"> {{ completionStatus }} </label>
              </div>

              <pre-loader ng-if="preWorkId == preWork.id"> </pre-loader>


            </div>
            <div class="item item-divider">
              Tick when complete: <input type="checkbox" ng-model="preWork.is_complete" ng-change="completePreWork(preWork)" />
            </div>
          </div>


        </ion-content>
      </ion-view>
    </script>

    <script id="templates/view-non-bookable-session-details.html" type="text/ng-template">

      <ion-view view-title="Session Details">
        <ion-content padding="true">

          <div class="list list-inset pre-works">

            <div class="item item-divider">
              {{ nonBookableSessionDetails.title }}
            </div>

            <div class="item item-body">
              <label ng-show="nonBookableSessionDetails.start_at"><strong>Start Date:</strong> {{ date(nonBookableSessionDetails.start_at).toDateString() }}</label>
              <label ng-show="nonBookableSessionDetails.end_at"><strong>End Date:</strong> {{ date(nonBookableSessionDetails.end_at).toDateString() }}</label>
              <label ng-show="nonBookableSessionDetails.venue"><strong>Venue:</strong> {{ nonBookableSessionDetails.venue }}</label>
              <label ng-show="nonBookableSessionDetails.brief_details"><strong>Summary:</strong> {{ nonBookableSessionDetails.brief_details }}</label>
              <label ng-show="nonBookableSessionDetails.additional_details"><strong>Additional Details:</strong> {{ nonBookableSessionDetails.additional_details }} </label>
            </div>

            <div class="item item-divider">
            </div>

          </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/view-group-coaching-session-details.html" type="text/ng-template">

      <ion-view view-title="Session Details">
        <ion-content padding="true">

          <div class="list list-inset pre-works">

            <div class="item item-divider">
              {{ groupCoachingSession.session_title }}
            </div>

            <div class="item item-body">
              <label ng-show="groupCoachingSession.group_session_details.participant_details"><strong>Participant Details:</strong> {{ groupCoachingSession.group_session_details.participant_details }}</label>
              <div ng-show="groupCoachingSession.group_coaching_members">
                <label class="underline"><strong>Group Members</strong></label>
                <label>{{ groupCoachingSession.coachee }}</label>
                <label ng-repeat="coachingMember in groupCoachingSession.group_coaching_members"> {{ coachingMember }}</label>
              </div>
            </div>

            <div class="item item-divider">
            </div>

          </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/send-email.html" type="text/ng-template">

      <ion-view view-title="Email Coach">
        <ion-content padding="true">

          <pre-loader> </pre-loader>
          <error-message> </error-message>
          <label class="red" ng-show="successMessage"> {{ successMessage }} </label>

          <form name="emailCoachForm" ng-submit="sendEmail(message, coachId)" novalidate class="padding">
            <div class="list">

              <label class="item item-input">
                <input name="subject" ng-model="message.subject" type="text" placeholder="Subject" required>
                </input>
              </label>

              <label class="item item-input">
                <textarea name="content" ng-model="message.content" placeholder="Enter Message" id="message"
  	               ng-keyup="expandTextArea()" ng-keydown="expandTextArea()" required>
                </textarea>
              </label>

              <div class"messages red">
                <label class="red block" ng-show="(emailCoachForm.subject.$dirty || emailCoachForm.$submitted) && emailCoachForm.subject.$error.required">Subject is required</label>
                <label class="red block" ng-show="(emailCoachForm.content.$dirty || emailCoachForm.$submitted) && emailCoachForm.content.$error.required">Enter message</label>
              </div>

              <button class="button button-calm button-small padding button-clear" type="submit">
                SUBMIT
              </button>

            </div>

          </form>

        </ion-content>
      </ion-view>
    </script>

  </body>
</html>
